/* Small devices (tablets, less than 960px) */
@media (max-width: 959px) {
	body {
		min-width: 768px;
	}

  .container {
    width: 748px;
  }

  .main-header > .container {
    position: relative;
  }

  .main-navigation {
    position: absolute;
    top: 0;
    left: 90px;
    z-index: 20;
    display: none;
  }

  .main-navigation .logo-inner {
    width: 160px;
  }

  .main-navigation .logo-inner + ul {
    padding-top: 70px;
  }

  @keyframes slide-down {
    0% { transform: translateY(-200px); }
    100% { transform: translateY(0); }
  }

  .main-navigation-show {
    display: block;
    animation: slide-down 0.2s;
  }

  .main-navigation ul {
    width: 200px;
    background-color: #000;
  }

  .main-navigation li {
    display: block;
  }

  .main-navigation .active {
    background-color: #555;
  }

  .main-navigation .active::after {
    display: none;
  }

  .menu-btn {
    position: relative;
    padding: 14px 24px;
    display: inline-block;
    font-size: 36px;
    line-height: 42px;
    z-index: 20;
  }

  .menu-btn:hover {
    background-color: #242424;
  }

  .features-item {
    float: none;
    width: 368px;
    margin-right: auto;
    margin-bottom: 40px;
    margin-left: auto;
  }

  .features-item:last-child {
    margin-right: auto;
    margin-bottom: 80px;
  }

  .index-content {
    background: url(../img/index-content-line-mobile.png) no-repeat center 44%, #f8f5f2 url(../img/white-texture-bg.jpg);
  }

  .background-position-center {
    background-position: center;
  }

  .index-content-left {
    float: none;
    margin-right: auto;
    margin-bottom: 35px;
    margin-left: auto;
    padding-right: 0;
    padding-bottom: 20px;
  }

  .index-content-right {
    float: none;
    margin-right: auto;
    margin-left: auto;
  }

  .index-content-right .index-content-title {
    text-align: center;
  }

  .contact {
    padding-left: 25px;
  }

  .enroll-form input {
    float: none;
    box-sizing: border-box;
    width: 100%;
  }

  .main-footer .container {
    width: 728px;
    padding: 0 20px;
  }

  .modal-content-map {
    width: 376px;
    height: 270px;
    margin-top: -135px;
    margin-left: -188px;
  }

  .modal-content-map iframe {
    width: 376px;
    height: 270px;
  }

}

/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) { 
  body {
    min-width: 320px;
   }

  .container {
    width: 95%;
    padding: 0;
  }

  .main-navigation {
    top: 70px;
    left: 0;
  }

  .index-logo {
    width: 280px;
    height: 155px;
  }

  .index-logo img {
    width: 280px;
    height: 155px; 
  }

  .features-item {
    width: 280px;
  }

  .index-content {
    padding: 25px 15px;
    margin-bottom: 25px;
    background-position: center 47%;
  }

 .background-position-center {
    background-position: center 52%;
  }

  .index-content-left {
    width: 280px;
  }

  .index-content-right {
    width: 280px;
  }

  .index-content-right h2 + p {
    text-align: center;
  }

  .gallery .btn {
    width: 130px;
  }

  .gallery-content {
    height: 153px;
  }

  .gallery-content img {
    width: 266px;
    height: 153px;
  }

  .index-content-left .contact {
    position: relative;
    height: 360px;
    padding-left: 0;
  }

  .contact .btn {
    position: absolute;
    bottom: 0;
    padding: 10px 15px;
    margin-right: 0;
  }

  .contact .btn:last-child {
    right: 0;
  }

  .enroll-form {
    width: 270px;
  }

  .main-footer {
    margin-top: 50px;
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .main-footer .container {
    width: 95%;
    padding: 0;
  }

  .main-footer section {
    float: none;
    margin: 0 auto 20px;
  }

  .footer-contact {
    width: 270px;
    margin-right: 0;
  }

  .modal-content {
    width: 240px;
    padding: 25px 10px;
    margin-left: -140px;
  }

  .modal-content-title,
  .modal-content-title + p{
    text-align: center;
  }

  .login-form input[type="text"], 
  .login-form input[type="password"] {
    width: 176px;
  }

  .modal-content-close {
    right: -25px;
  }

  .modal-content-map {
    width: 250px;
    height: 300px;
    margin-top: -150px;
    margin-left: -139px;
  }

  .modal-content-map iframe {
    width: 250px;
    height: 300px;
  }
}


