body {
	min-width: 960px;
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	font-family: "PT Sans Narrow", "Arial", sans-serif;
	text-transform: uppercase;
	color: #fff;
	background: #000 url(../img/main-bg.jpg) no-repeat center top;
}

.inner-page {
	color: #000;
	background: #f8f3f0 url("../img/white-texture-bg.jpg") repeat;
}

.clearfix::after {
	content: '';
	display: table;
	clear: both;
}

.container {
	width: 940px;
	padding: 0 10px;
	margin: 0 auto;
}

.main-header {
	margin-bottom: 55px;
	background-color: #000;
	color: #fff;
}

.main-navigation {
	float: left;
	width: 780px;
}

.main-navigation ul {
	margin: 0;
	padding: 0;
	font-size: 0;
	list-style: none;
}

.main-navigation li {
	display: inline-block;
	font-size: 16px;
	line-height: 20px;
	vertical-align: top;
}

.main-navigation a {
	display: block;
	padding: 25px 20px;
	color: #fff;
	text-decoration: none;
}

.main-navigation a:hover {
	background-color: #242424;
}

.main-navigation .logo-inner {
	float: left;
	width: 111px;
	height: 24px;
	padding-top: 22px;
	padding-bottom: 24px;
}

.main-navigation .logo-inner img {
	width: 111px;
	height: 24px;	
}

.main-navigation .logo-inner:hover {
	background-color: #242424;
}

.main-navigation .active {
	position: relative;
	background-color: none;
}

.main-navigation .active::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 20px;
	right: 20px;
	height: 5px;
	background-color: #fff;
}

.main-navigation .active a:hover {
	background-color: none;
}

.main-navigation .active span {
	display: block;
	padding: 25px 20px;
}

.user-block {
	float: right;
}

.login {
	position: relative;
	display: inline-block;
	padding: 25px 0;
	padding-right: 20px;
	padding-left: 50px;
	font-size: 16px;
	line-height: 20px;
	vertical-align: top;
	color: #fff;
	text-decoration: none;
}

.login:hover {
	background-color: #242424;
}

.login::before {
	content: '';
	position: absolute;
	top: 27px;
	left: 20px;
	display: inline-block;
	width: 18px;
	height: 18px;
	background: transparent url(../img/icon-login.png) no-repeat;
	opacity: 0.3;
}

.login:hover::before {
	opacity: 1;
}

.index-logo {
	width: 368px;
	height: 204px;
	margin: 0 auto;
	margin-bottom: 25px;
}

.index-logo img {
	width: 368px;
	height: 204px;
}

.features-item {
	
	float: left;
	width: 300px;
	margin-right: 20px;
	margin-bottom: 80px;
	text-align: center;
}

.features-item:last-child {
	margin-right: 0;
}

.features-item p {
	margin: 10px;
	margin-bottom: 0;
}

.features-name {
	position: relative;
	display: block;
	margin-bottom: 30px;
	padding-bottom: 35px;
	font-size: 30px;
	line-height: 42px;
}

.features-name::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	display: block;
	width: 20px;
	height: 20px;
	margin-left: -10px;
	background-color: #fff;
	transform: rotate(45deg);
}

.index-content {
	padding: 50px 80px;
	margin-bottom: 35px;
	background: url(../img/index-content-line.png) no-repeat center, #f8f5f2 url("../img/white-texture-bg.jpg");
	color: #000;
}

.index-content-left {
	float: left;
	width: 380px;
	padding-right: 50px;
}

.index-content-right {
	float: right;
	width: 300px;
}

.index-content-title {
	margin: 0;
	margin-bottom: 25px;
	font-size: 30px;
	line-height: 42px;
}

.news-item,
.contact p {
	margin: 0;
	margin-bottom: 25px;
}

.news-item p {
	margin: 0;
}

.news-item time {
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	text-transform: none;
}

.btn {
	display: inline-block;
	padding: 10px 33px;
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	font-family: "PT Sans Narrow", "Arial", sans-serif;
	text-transform: uppercase;
	color: #fff;
	background-color: #000;
	text-align: center;
	vertical-align: top;
	outline: none;
	border: none;
	cursor: pointer;
	text-decoration: none;
}

.menu-btn {
	display: none;
}

.btn:hover,
.btn:active {
	background-color: #663d15;
}

.btn.disabled,
.btn:disabled {
	cursor: default;
	opacity: 0.5;
}

.btn.disabled:hover,
.btn:disabled:hover {
	background-color: #000;
}

.gallery {
	position: relative;
	height: 260px;
}

.gallery-content {
	height: 164px;
	margin: 0;
	background-color: #ccc;
	border: 7px solid #fff;
}

.gallery-content img {
	width: 286px;
	height: 164px;
}

.gallery .btn {
	position: absolute;
	bottom: 0;
	width: 140px;
}

.gallery-prev {
	left: 0
}

.gallery-next {
	right: 0;
}

.contact .btn {
	margin-right: 20px;
}

.enroll-form input {
	float: left;
	width: 106px;
	padding: 7px 15px;
	margin-right: 20px;
	margin-bottom: 20px;
	font-size: 14px;
	line-height: 24px;
	font-family: "PT Sans Narrow", "Arial", sans-serif;
	text-transform: uppercase;
	color: #000;
	background-color: #f9f6f3;
	border: 2px solid #000;
	outline: none;
}

.enroll-form input:nth-child(2n) {
	margin-right: 0;
}

.enroll-form .btn {
	clear: both;
	width: 100%;
}

/* Стили внутренних страний */

.inner-page-title {
	margin-bottom: 55px;
}

.inner-page-title h1 {
	margin: 0;
	margin-bottom: 20px;
	padding: 0;
	font-size: 30px;
	line-height: 42px;
}

.breadcrumbs {
	margin: 0;
	padding: 0;
	list-style: none;
}

.breadcrumbs li {
	position: relative;
	display: inline;
	padding-right: 40px;
}

.breadcrumbs li:after {
	content: '';
	position: absolute;
	top: 4px;
	right: 18px;
	width: 8px;
	height: 8px;
	background-color: #000;
	transform: rotate(45deg);
}

.breadcrumbs a {
	color: #000;
	text-decoration: none;
}

.breadcrumbs a:hover {
	text-decoration: underline;
}

.breadcrumbs .current {
	color: #aba9a7;
}

.breadcrumbs .current::after {
	display: none;
}

/* Общие стили для контентных тегов */

.inner-content {
	margin-bottom: 75px;
}

.inner-content h2 {
	margin-top: 60px;
	margin-bottom: 30px;
	font-size: 24px;
	line-height: 30px;
}

.inner-content h3 {
	margin-top: 60px;
	margin-bottom: 30px;
	font-size: 20px;
	line-height: 24px;
}

.inner-content h2 + h3 {
	margin-top: 30px;
}

.inner-content p {
	margin: 14px 0;
}

.inner-content table {
	border-collapse: collapse;
}

.inner-content td {
	padding: 10px 15px;
	border: 2px solid #000;
}

/* Особые стили для контентных тегов */

.big-heading {
	margin-top: 55px;
	margin-bottom: 65px;
	text-align: center;
}

.big-heading h2 {
	 position: relative;
	 z-index: 2;
	 display: inline;
	 margin: 0;
	 padding: 0 25px;
	 font-size: 48px;
	 line-height: 48px;
	 text-align: center;
	 background: #f8f3f0 url("../img/white-texture-bg.jpg") repeat;
}

.big-heading::after {
	content: '';
	position: relative;
	top: -25px;
	z-index: 1;
	display: block;
	border-bottom: 2px solid #000;
}

.custom-list-1 {
	margin: 14px 0;
	padding: 0;
	list-style: none;
}

.custom-list-1 li {
	position: relative;
	margin-bottom: 15px;
	padding-left: 20px;
}

.custom-list-1 li::before {
	content: '';
	position: absolute;
	top: 8px;
	left: 0;
	width: 8px;
	height: 8px;
	background-color: #000;
	transform: rotate(45deg);
}

.prices-table {
	width: 100%;
}

.prices-table td {
	width: 50%;
}

.prices-table td:last-child {
	text-align: center;
}

.inner-columns {
	margin: 60px 0;
}

.inner-column-left,
.inner-column-right {
	width: 460px;
}

.inner-column-left {
	float: left;
}

.inner-column-right {
	float: right;
}

.inner-column-left *:first-child,
.inner-column-right *:first-child {
	margin-top: 0;
}

.inner-column-left *:last-child,
.inner-column-right *:last-child {
	margin-bottom: 0;
}

.short-text {
	padding-right: 80px;
}

.main-footer {
	margin-top: 65px;
	padding-top: 60px;
	padding-bottom: 40px;
	color: #fff;
	background: #252525 url(../img/footer-bg.jpg);
}

.footer-contact {
	float: left;
	width: 380px;
	margin-right: 20px;
}

.footer-contact a {
	color: #fff;
}

.footer-social {
	float: left;
	width: 160px;
	text-align: center;
}

.footer-social p {
	margin: 0;
	margin-bottom: 15px;
	
}

.social-btn {
	display: inline-block;
	width: 43px;
	height: 43px;
	margin: 0 2px;
	font-size: 0;
	vertical-align: top;
	text-decoration: none;
	background: #000 url(../img/icon-sprite.png) no-repeat center center;
}

.social-btn-vk {
	background-position: 9px 6px;
}

.social-btn-facebook {
	background-position: -40px 6px;
}

.social-btn-instagram {
	background-position: -89px 6px;
}

.social-btn-vk:hover {
	background-color: #fff;
	background-position: 9px -30px;
}

.social-btn-facebook:hover {
	background-color: #fff;
	background-position: -40px -30px;
}

.social-btn-instagram:hover {
	background-color: #fff;
	background-position: -89px -30px;
}

.footer-copyright {
	float: right;
	width: 140px;
}

.footer-copyright p {
	margin: 0;
	margin-bottom: 15px;
	text-align: center;
}

.footer-copyright .btn {
	padding: 10px 20px;
}

.footer-copyright .btn:hover {
	color: #000;
	background-color: #fff;
}

/* Всплывающиая форма */

.modal-content {
	display: none;
	position: absolute;
	top: 120px;
	left: 50%;
	z-index: 20;
	width: 300px;
	margin-left: -230px;
	padding: 50px 80px;
	color: #000;
	background: #f8f3f0 url("../img/white-texture-bg.jpg");
	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-content-map {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 20;
	width: 766px;
	height: 561px;
	margin-top: -280px;
	margin-left: -390px;
	background: #e9e5dc url("../img/map.jpg");
	border: 7px solid #fff;
	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.madal-content-map iframe {
	width: 766px;
	height: 561px;
}

.modal-content-show {
	display: block;
}

.modal-overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
}

.modal-overlay-show {
	display: block;
}

.modal-content-close {
	position: absolute;
	top: 0;
	right: -34px;
	width: 22px;
	height: 22px;
	font-size: 0;
	border: 0;
	outline: 0;
	cursor: pointer;
	background-color: transparent;
}

.modal-content-close::before,
.modal-content-close::after {
	content: '';
	position: absolute;
	top: 10px;
	left: 2px;
	width: 19px;
	height: 3px;
	background-color: #d0d0d0;
	border-radius: 1px;
}

.modal-content-close::before {
	transform: rotate(45deg);
}

.modal-content-close::after {
	transform: rotate(-45deg);
}

.modal-content h2 {
	margin: 0;
	margin-bottom: 20px;
	font-size: 30px;
	line-height: 42px;
}

.modal-content p {
	margin: 0;
	margin-bottom: 14px;
}

.modal-content .login-form {
	margin-top: 30px;
	margin-bottom: 10px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
	width: 236px;
	margin: 0;
	margin-bottom: 10px;
	padding: 10px 20px;
	padding-right: 40px;
	font-size: 14px;
	line-height: 24px;
	font-family: "PT Sans Narrow", "Arial", sans-serif;
	color: #000;
	text-transform: uppercase;
	background-color: #f9f6f3;
	border: 2px solid #000;
	outline: none;
}

.login-form input:focus {
	border-color: #663d15;
}

.login-form input.icon-user {
	background-image: url("../img/form-sprite.png");
	background-repeat: no-repeat;
	background-position: 96% 13px;
}

.login-form input.icon-password {
	background-image: url("../img/form-sprite.png");
	background-repeat: no-repeat;
	background-position: 96% -34px;
}

.login-form .restore {
	float: right;
	color: #000;
}

.login-form .btn {
	width: 100%;
	margin-top: 15px;
}

.checkbox input[type="checkbox"] {
	display: none;
}

.checkbox {
	position: relative;
	padding-left: 30px;
	cursor: pointer;
}

.checkbox:hover {
	color: #663d15;
}

.checkbox input[type="checkbox"] + .checkbox-indicator {
	position: absolute;
	top: -3px;
	left: 0;
	width: 17px;
	height: 17px;
	border: 2px solid #000;
}

.checkbox input[type="checkbox"]:checked
	 + .checkbox-indicator::before,
.checkbox input[type="checkbox"]:checked
	 + .checkbox-indicator::after {
	content: '';
	position: absolute;
	top: 8px;
	left: 1px;
	width: 15px;
	height: 2px;
	background-color: #000;
}

.checkbox input[type="checkbox"]:checked
	 + .checkbox-indicator::before {
	transform: rotate(45deg);
}

.checkbox input[type="checkbox"]:checked
	 + .checkbox-indicator::after {
	transform: rotate(-45deg);
}

/* Стили для страницы товара */
.img-container {
	font-size: 0;
}

.big-img {
	width: 460px;
	height: 500px;
	margin: 0;
	margin-bottom: 20px;
}

.small-img {
	width: 140px;
	height: 150px;
	margin-right: 20px;
}

.small-img:last-child {
	margin-right: 0;
}

.item-description {
	width: 400px;
	margin-left: 60px;
}

.presense {
	display: inline-block;
	margin-bottom: 20px;
}

.vendor {
	float: right;
	color: #aeaeae;
}

.buy-container {
	font-size: 0;
}

.price {
	display: inline-block;
	padding: 10px 33px;
	font-size: 14px;
	line-height: 24px;
	color: #000;
	background-color: #e5e5e5;
	text-align: center;
	vertical-align: top;
}

.btn-buy {
	padding: 10px 20px;
}

/* Стили страницы магазина */
.selected {
	width: 220px;
}

.select-container .checkbox{
	display: block;
	margin-bottom: 15px;
}

.select-container .checkbox input[type="checkbox"] + .checkbox-indicator {
	top: 0;
}

.radio input[type="radio"] {
	display: none;
}

.radio-container {
	margin-top: 60px;
}

.radio {
	position: relative;
	display: block;
	padding-left: 30px;
	margin-bottom: 20px;
	cursor: pointer;
}

.radio:hover {
	color: #663d15;
}

.radio input[type="radio"] + .radio-indicator {
	position: absolute;
	top: 0;
	left: 0;
	width: 18px;
	height: 18px;
	border: 2px solid #000;
	border-radius: 11px; 
}

.radio input[type="radio"]:checked
	 + .radio-indicator::after {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	width: 14px;
	height: 14px;
	background-color: #000;
	border-radius: 7px;
}

.btn-show {
	margin-top: 60px;
}

.items {
	width: 700px;
}

.item {
	display: block;
	float: left;
	width: 220px;
	margin-right: 20px;
	margin-bottom: 20px;
	background-color: #fff;
	box-shadow: 4px 4px 15px 3px rgba(0, 0, 0, 0.2);
}

.item:nth-child(3n){
	margin-right: 0;
}

.item:nth-last-child(4){
	margin-bottom: 50px;
}

.item-name {
	display: block;
	margin-top: 15px;
	margin-left: 15px;
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	font-family: "PT Sans Narrow", "Arial", sans-serif;
	color: #000;
	text-decoration: none;
}

.item-name:hover {
	color: #663d15;
}

.item .buy-container {
	margin-top: 10px;
	margin-bottom: 15px;
	text-align: center;
}

.paginator {
  width: 280px;
  margin-bottom: 50px;
  clear: both;
  white-space: nowrap;
}

.paginator a,
.paginator span {
  display: inline-block;
  min-width: 20px;
  height: 40px;
  padding: 0 10px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  background: #000;
}

.paginator .current {
	color: #000;
	background-color: #fff;	
}

.paginator a:hover {
  background: #663d15;
}
